@import url(./fonts.css);

/* estilos para mobile form*/
@media (max-width: 390px) {
   .background {
      position: absolute;
      top: 0;
   }
   .main-form {
      margin: 349px 18px;
      position: absolute;

      display: flex;
      flex-direction: column;
      justify-content: center;

      align-items: center;
     

    
   }
   .main-form h1 {
      width: 354px;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: #343A40;
   }
   .main-form p {
      width: 354px;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #343A40;
   }
   .form {
      margin: 33px 0;
      display: flex;
      flex-direction: column;
      gap: 33px;
   }
   .form-input {
      width: 354px;
      height: 33px;
      display: flex;
      align-items: center;
      gap: 11px;
      border-bottom: 0.5px solid #ADB5BD;
   }
   .form-input input{
      outline: none;
      border: none;
      background: transparent;
   }
   .form-input input::placeholder {
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      color: #ADB5BD;
   }
   .form-alert {
      margin: -22px 0 -10px ;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
   }
   .incorrect-username, .incorrect-mail, .incorrect-password {
      display: none;
      color: #FF7581;
   }
   .correct-username, .correct-mail, .correct-password {
      display: none;
      color: #0ead69;
   }
   .form-button {
      margin: 11px 0;
      width: 354px;
      height: 44px;
      outline: none;
      cursor: pointer;
      background: #F5B2E8;
      backdrop-filter: blur(54.37px);
      border-radius: 13px;
      border: none;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.38px;
      color: #FFFFFF;
   }
   .form-link {
      margin-top: -22px;
      text-align: end;
      text-decoration: none;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #343A40;
   }
   .usuarioCorrecto,.emailCorrecto,.passwordCorrecto{
      display: none;
      color:green;

   }
   .usuarioIncorrecto,.emailIncorrecto,.passwordIncorrecto{
      display: none;
      color:red;
   }
   .divButton-authentication{
      display: flex;
      flex-direction: column;

      justify-content: center;     
      align-items: center;
      font-family: 'SF Pro Rounded';
      color: #343A40;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
   }
   .divButton-authentication p{
      margin-top: 0;
      text-align: center;
   }
   .button-authentication{
      background-color: white;
      width: 19.2px;
      height: 19.2px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}