body {
  margin: 0;
  padding: 0;
  background-image: url('../imgs/dF.png');
  background-repeat: no-repeat;
}

/* estilos para login-signup */

.form-alert, .imageLogo, .background-login-mobile, 
.image-back-button, .image-back-button-mobile, 
.image-trash-button, .image-edit-button, 
.imageAddButton, .logo-tablet, .background-signup-mobile {
   display: none;
}
.background-login-desktop{
   width: 711px;
   height: 657px;
}

.login-main, .signup-main {
   display: flex;
}

.login-section, .signup-section {
   margin: 15px 220px;
   flex-direction: column;
}

.login-section h1 , .signup-section h1 {
   font-family: SF Pro Rounded;
   font-style: normal;
   font-weight: 400;
   font-size: 34px;/*resto 10px*/
   color: #343A40;
}

.login-section p , .signup-section p{
   font-family: SF Pro Rounded;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #343A40;
}

.form {
   margin: 44px 0;
}

.form-input {
   display: flex;
   align-items: center;
   gap: 15px;
   padding: 0 0 3px 0;
   margin: 45px 0;
   width: 400px;
   border-bottom: 1px solid #ADB5BD;
}

.form-input input {
   width: 470px;
   height: 33px;
   border: transparent;
   background-color: transparent;
   outline: none;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 15px; /*-5 px*/
   line-height: 29px;
   color: #343A40;
}

.form-input input::placeholder {
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 29px;
   color: #ADB5BD;
}

.form-final-options {
   margin: 44px 0;
   display: flex;
   gap: 10px;
   flex-direction: column;
}

.form-final-options button {
   width: 400px;
   height: 42px;
   margin: 10px 0;
   background: #F5B2E8;
   backdrop-filter: blur(96.6425px);
   border-radius: 18px;
   border: none;
   outline: none;
   cursor: pointer;

   
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 43px;
   text-align: center;
   color: #FFFFFF;
}

.form-final-options a {
   text-align: end;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 29px;
   color: #BE3BA5;
}

.container-authentication {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 11px;
   margin: -25px 0;
}

.container-authentication p{
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
}

.container-authentication button {
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
}

/* estilos para home */
.home {
   margin:50px 73px 73px;
}

.home-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.home-header p {
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   text-align: center;
}

.home-header button {
   height: 34px;
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   gap: 15px;
   padding: 0 15px;

   background: #FFFFFF;
   box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.1);
   border-radius: 14px;
   outline: none;
   border: none;
   cursor: pointer;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   color: #000000;
}

.home h1 {
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
}
.home input{
   margin: 22px 0 44px 0;
   width: 460px;
   height: 38px;
   background: #F7F7F8;
   border-radius: 12px;
   border:none;
   text-align: center;
   outline: none;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   color: #343A40;
}
.home input::placeholder{
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   color: #ADB5BD;

   background-image: url('../imgs/lupa.png');
   background-repeat: no-repeat;
   background-position: 35% center;
}
.home__container-buttons{
   display: flex;
   justify-content: space-around;
}
.button-option {
   cursor: pointer;
   height: 22px;
   border: none;
   color: #ADB5BD;
   background-color: transparent;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   padding: 0 0 25px 0;
}
.button-option:focus {
   border-bottom: 2px solid #FEB8C2;
}
.home-publications {
   margin: 55px 0 44px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   column-gap: 94px;
   row-gap: 44px;
}
.publication-card {
   display: flex;
   flex-direction: column-reverse;
}
.publication-card img {
   width: 150px;
   height: 210px;
   border-radius: 18px;
   position: relative;
}
.card-info {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 35px;
   background: #F5B2E8;
   opacity: 0.9;
   border-radius: 0px 0px 18px 18px;
   position: absolute;
}
.card-info p {
   font-family: 'CookieRun';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   color: #FFFFFF;
   -webkit-text-stroke: 1.5px #4F4A42;
}

/* estilos para footer */
footer{
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #FCF6BD;
   bottom: 0;
   border-color: yellow;
}
.container__footer-info {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px 30px;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 13px;
   line-height: 19px;
}
.developers-info {
   display: flex;
   align-items: center;
   gap: 22px;
}
.developers-info p{
   margin: 0;
}
.developers-info__title{
   margin: 0;
}

.developers-info a {
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 13px;
   line-height: 29px;
   color: #343A40;
}
.imageFooter{
   height: 40px;
}

/* estilos para crear publicación */
.new-main, .edit-main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.new-publication-header {
   display: flex;
   align-items: center;
   width: 100%;
   height: 42px;
   gap: 88px;
   margin: 22px 0 33px;
   justify-content: flex-start;
}
.new-publication-header h1 {
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 31px;
}
.form__new-publication, .form__edit-publication {
   display: flex;
   flex-direction: column;
   gap: 11px;
}
.form__new-publication p, .form__edit-publication p {
   margin: 5px 0;
   text-align: left;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
}
.question__options-group {
   display: flex;
   flex-direction: column;
}
.question__upload-group{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.options-group {
   display: flex;
   gap: 44px;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 13px;
   line-height: 24px;
   color: #6C757D;
}
.option__upload-file {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 160px;
   height: 38px;
   background: #C2F8CB;
   border-radius: 20px;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   color: #4F4A42;
}
.option__upload-file input{
   display: none;
}
.question4__petname, .question5__petAge{
   width: 410px;
   height: 20px;
   background: #F7F7F8;
   border-radius: 12px;
   border:none;
   padding: 6px 0 6px 12px;
   outline: none;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: #6C757D;
}
.question4__petname::placeholder, .question5__petAge::placeholder, .question6__description::placeholder{
   color: #ADB5BD;
   font-size: 13px;
}
.question6__description{
   width: 410px;
   height: 114px;
   background: #F7F7F8;
   border-radius: 18px;
   border:none;
   outline: none;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: #6C757D;
   padding:15px 0 0 15px;
}
.create-publication, .edit-publication{
   width: 425px;
   height: 45px;   
   background: #C2F8CB;
   border-radius: 20px;
   border: none;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   margin: 22px 0 44px;
   color: #4F4A42;
} 

/* estilos para information view */

.information-main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.publication-information {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 100px;
   margin: 55px 0;
}
.information-header {
   display: flex;
   justify-content: space-between;
   margin: 22px 0;
   align-items: center;
}
.information-header h1 {
   font-family: 'CookieRun';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 41px;
   text-align: center;
   color: #F5B2E8;
   margin-left: 30px;
   -webkit-text-stroke: 1.5px #4F4A42;
}
.buttons-group {
   display: flex;
   flex-direction: row;
   gap: 11px;
}
.button-edit, .button-trash {
   width: 44px;
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #FFFFFF;
   box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   border:none;
   outline: none;
   cursor: pointer;
}
.publication-information img{
   width: 340px;
   height: 381px;
   border-radius: 40px;
   /* margin: 0 35px; */
}
.information-content {
   width: 354px;
}
.information-content h1 {
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
}
.text-caracter-pet {
   display: flex;
   justify-content: space-between;
   
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   color: #6C757D;
}
.description {
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 19px;

   color: #6C6C6C;
}
.div-buttons {
   display: flex;
   justify-content: space-between;
   margin: 33px 0;
}
.button-love {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 35px;
   background: #F5B2E8;
   border-radius: 20px;
   border: none;
}

.button-love img {
   width: 30px;
   height: 30px;
}

.button-adopt {
   display: flex;
   align-items: center;
   gap: 9px;
   width: 271px;
   height: 35px;
   background: #C2F8CB;
   border-radius: 20px;
   border: none;
   text-align: center;
   color: #4F4A42;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   justify-content: center;
}

.button-adopt img {
   width: 33px;
   height: 33px;
}

.button-back{
   display: flex;
   width: 44px;
   height: 44px;
   align-items: center;
   justify-content: center;
   background: #FFFFFF;
   box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   border:none;
   cursor: pointer;
}

.container__modal-delete{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: rgba(255, 255, 255, 0.01);
   backdrop-filter: blur(20px);
   position: fixed;
   top:0;
   height: 100vh;
   width: 100vw;
}
.content__modal-delete{
   width: 300px;
   height: 60px;
   background: rgba(30, 30, 30, 0.75);
   border-radius: 15px 15px 0px 0px;
}
.title_modal-delete{
   margin: 7px 0 6px;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 22px;
   text-align: center;
   letter-spacing: -0.408px;
   color: #FFFFFF;
}
.subtitle_modal-delete{
   margin: 0;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 13px;
   line-height: 22px;
   text-align: center;
   letter-spacing: -0.408px;
   color: #FFFFFF;
}
.button-delete {
   width: 300px;
   height: 60px;
   border: none;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 700;
   font-size: 13px;
   line-height: 22px;
   align-items: center;
   text-align: center;
   letter-spacing: -0.408px;
   color: #0A84FF;
   background: rgba(30, 30, 30, 0.75);
   margin-top: 3px;
   cursor: pointer;
}
.cancel{
   border-radius: 0px 0px 15px 15px;
}


/*estilos para mobil*/
@media (max-width: 480px) and (orientation:portrait) {
   /* estilos para login-signup */
   body {
      background-image: none;
   }
   .image-back-button-tablet, .image-trash-button-tablet,
   .image-eddit-button-tablet, .logo-desktop , 
   .background-login-desktop, .image-back-button-tablet{
      display: none;
   }
   .imageLogo, .image-addbutton, .image-edit-button, 
   .image-trash-button, .image-back-button-mobile{
      display: flex;
   }
   .login-main, .signup-main {
      display: inline;
   }
  .background-login-mobile, .background-signup-mobile {
      display: flex;
      position: absolute;
      top: 0;
   }
   .login-section, .signup-section {
      margin: 320px 18px;
      position: absolute;
   }
   .login-section h1 , .signup-section h1 {
      font-size: 25px;
   }
   .login-section p , .signup-section p {
      font-size: 16px;
   }

   .form {
      margin: 22px 0;
   }
   .form-input {
      gap: 11px;
      margin: 44px 0;
      width: 354px;
      border-bottom: 0.5px solid #ADB5BD;
   }
   .form-input input{
      width: 354px;
      height: 22px;
      font-size: 16px;
   }
   .form-input input::placeholder {
      font-size: 15px;
   }
   .form-final-options {
      margin: -10px 0;
   }
   .form-final-options button {
      width: 354px;
      height: 44px;
      margin: 10px 0;
      border-radius: 12px;
      font-size: 20px;
   }
   .form-final-options a , .container-authentication p{
      font-size: 16px;
   }
   .container-authentication {
      margin: 10px 0;
      gap: 5px;
   }

   /* estilos para home */
   .home {
      margin: 0 18px;
   }
   .home h1 {
      font-size: 24px;
   }
   .header__add-button p {
      display: none;
   }
   .home-header button {
      width: 33px;
      height: 33px;
      justify-content: center;
      border-radius: 10px;
  }
   .home input{
      margin: 11px 0 33px;
      width: 354px;
      font-size: 18px;
   }
   .home input::placeholder{
      font-size: 18px;
   }
   .home__container-buttons {
      margin: 0 0 33px;
   }
   .button-option{
      font-size: 18px;
   }
   .home-publications{
      margin: -11px 0 44px;
      column-gap: 33px;
      row-gap: 33px;
   }
   .publication-card img {
      width: 145px;
      height: 220px;
      border-radius: 20px;
   }
   .card-info {
      width: 145px;
      height: 35px;
      border-radius: 0px 0px 20px 20px;
   }
   .card-info p {
      font-size: 20px;
   }
   footer {
      padding: 6px 0 5px;
   }
   .container__footer-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-size: 12px;
   }
   .developers-info {
      display: inline;
      margin: 0 0 20px 0;
   }
   .developers-info a {
      font-size: 12px;
   }

/* estilos para crear publicación */
   .new-publication-header h1 {
      font-size: 30px;
   }
   .new-main, .edit-main {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .new-publication {
      margin: 0 18px;
   }
   .new-publication-header {
      gap: 50px;
   }
   .form__new-publication p, .form__edit-publication p {
      font-size: 20px;
   }
   .options-group {
      gap: 18px;
   }
   .question4__petname, .question5__petAge{
      width: 339px;
      height: 33px;
   }
   .question6__description{
      width: 339px;
   }
   .create-publication, .edit-publication{
      width: 354px;
   }
   .button-edit, .button-trash, .button-back {
      width: 33px;
      height: 33px;
   }

   .option__upload-file {
      width: 119px;
      height: 33px;
      font-size: 16px;
  }

   /* estilos para information view */ 

   .information-main {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .information-view {
      margin: 0 18px;
   }
   .publication-information {
      gap: 33px;
      margin: 22px 0;
   }
   .information-header {
      margin: 0;
   }
   .information-header h1 {
      font-size: 30px;
      margin-left: 0;
   }
   .buttons-group {
      display: flex;
      flex-direction: row;
      gap: 11px;
   }
   .publication-information img{
      width: 283px;
      height: 429px;
      margin: 0 35px;
   }
   .information-content {
      width: 354px;
   }
   .information-content h1 {
      font-size: 24px;
   }
   .text-caracter-pet, .description {
      font-size: 16px;
   }
   .button-love {
      width: 55px;
      height: 55px;
   }
   .button-love img {
      width: 28px;
      height: 28px;
   }
   .button-adopt {
      width: 281px;
      height: 55px;
      font-size: 20px;
   }
   .button-adopt img {
      width: 33px;
      height: 33px;
   }

/*    .container__modal-delete{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(20px);
      position: fixed;
      top:0;
      height: 100vh;
      width: 100vw;
   } */
   .content__modal-delete{
      width: 270px;
      height: 65px;
   }
   .title_modal-delete{
      font-weight: 400;
      font-size: 13px;
   }
   .subtitle_modal-delete{
      font-weight: 300;
      font-size: 13px;
   }
   .button-delete {
      width: 270px;
      height: 55px;
      font-weight: 400;
      font-size: 18px;
   }
   
}


/* Estilos para tablet */
@media (max-width: 860px) and (min-width: 481px){
   body{
      background-image: url('../imgs/tablet-login.png');
   }
   .background, .background-desktop, .logo-desktop, .imageLogo, 
   .header__add-button p , .imageBackButton, .imageAddButton, 
   .background-login-desktop, .background-signup-mobile {
      display: none;
   }
   .logo-tablet {
      display: inline;
   }
   .backgroundTablet {
      top: 0;
      position: absolute;
      display: block;
   }
   /* estilos para home */
   .home-header button {
      justify-content: center;
   }
   .home-header{
      margin: 0 0 44px;
   }
   .header__add-button, .button-back{
      width: 44px;
      height: 44px;
   }
   .home-publications {
      column-gap: 22px;
  }
   .publication-card img {
      width: 180px;
      height: 270px;
   }
   .card-info{
      width: 180px;
      height: 45px;
   }
   .card-info p{
      font-size: 20px;
   }

   /* estilos para crear-editar publicación */

   .new-publication-header {
      gap: 80px;
      margin: 22px 0 33px;
   }
   .new-publication-header h1 {
      font-size: 32px;
   }
   .form__new-publication p, .form__edit-publication p {
      font-size: 24px;
   }
   .options-group {
      font-size: 22px;
   }

   /*  estilos para information view  */
   .information-view {
      margin: 33px;
   }
   .publication-information {
      gap: 55px;
      justify-content: center;
   }
  .information-header {
      margin: 0;
   }

   /* estilos para login-signup */
   .login-main, .signup-main {
      display: inline;
   }
}
 