body {
  margin: 0;
  padding: 0;
}

.form-alert {
   display: none;
}

.login-main {
   display: flex;
}

.login-section {
   margin: 15px 150px;
   flex-direction: column;
}

.login-section h1 {
   font-family: SF Pro Rounded;
   font-style: normal;
   font-weight: 400;
   font-size: 44px;
   color: #343A40;
}

.login-section p {
   font-family: SF Pro Rounded;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 18px;
   color: #343A40;
}

.form {
   margin: 44px 0;
}

.form-input {
   display: flex;
   align-items: center;
   gap: 15px;
   padding: 0 0 10px 0;
   margin: 55px 0;
   width: 470px;
   border-bottom: 1px solid #ADB5BD;
}

.form-input input {
   width: 470px;
   height: 33px;
   border: transparent;
   background-color: transparent;
   outline: none;

   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 29px;
   color: #343A40;
}

.form-input input::placeholder {
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 29px;
   color: #ADB5BD;
}

.form-final-options {
   margin: 44px 0;
   display: flex;
   gap: 10px;
   flex-direction: column;
}

.form-final-options button {
   width: 490px;
   height: 55px;
   margin: 10px 0;
   background: #F5B2E8;
   backdrop-filter: blur(96.6425px);
   border-radius: 18px;
   border: none;
   outline: none;
   cursor: pointer;

   
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 43px;
   text-align: center;
   color: #FFFFFF;
}

.form-final-options a {
   text-align: end;
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 29px;
   color: #BE3BA5;
}

.container-authentication {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 11px;
   margin: -25px 0;
}

.container-authentication p{
   font-family: 'SF Pro Rounded';
   font-style: normal;
   font-weight: 300;
   font-size: 22px;
}

.container-authentication button {
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
}

/* @media (max-width: 390px) {
   .background {
      position: absolute;
      top: 0;
   }
   .backgroundTablet{
      display: none;
   }
   .background-desktop{
      display: none;
   }
   .main-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 349px 18px;
      position: absolute;
   }
   .main-form h1 {
      width: 354px;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: #343A40;
   }
   .main-form p {
      width: 354px;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #343A40;
   }
   .form {
      margin: 33px 0;
      display: flex;
      flex-direction: column;
      gap: 33px;
   }
   .form-input {
      width: 354px;
      height: 33px;
      display: flex;
      align-items: center;
      gap: 11px;
      border-bottom: 0.5px solid #ADB5BD;
   }
   .form-input input{
      outline: none;
      border: none;
      background: transparent;
   }
   .form-input input::placeholder {
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      color: #ADB5BD;
   }
   .form-alert {
      margin: -22px 0 -10px ;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
   }
   .incorrect-username, .incorrect-mail, .incorrect-password {
      display: none;
      color: #FF7581;
   }
   .correct-username, .correct-mail, .correct-password {
      display: none;
      color: #0ead69;
   }
   .form-button {
      margin: 11px 0;
      width: 354px;
      height: 44px;
      outline: none;
      cursor: pointer;
      background: #F5B2E8;
      backdrop-filter: blur(54.37px);
      border-radius: 13px;
      border: none;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.38px;
      color: #FFFFFF;
   }
   .form-link {
      margin-top: -22px;
      text-align: end;
      text-decoration: none;
      font-family: SF Pro Rounded;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #343A40;
   }
   .container-authentication{
      display: flex;
      flex-direction: column;

      justify-content: center;     
      align-items: center;
      font-family: 'SF Pro Rounded';
      color: #343A40;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
   }
   .container-authentication p{
      margin-top: 0;
      text-align: center;
   }
   .button-authentication{
      background-color: white;
      width: 19.2px;
      height: 19.2px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .home, .infornation-view {
      margin: 0 18px;
   }
   .home-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 22px 0 33px;
   }
   .header__username{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
   }
   .header__add-button, .button-back{
      display: flex;
      width: 33px;
      height: 33px;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border:none;
   }
   .home__subtitle{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
   }
   .home__input-search{
      margin: 33px 0;
      width: 354px;
      height: 44px;
      background: #F7F7F8;
      border-radius: 12px;
      border:none;
      text-align: center;
      outline: none;
   }
   .home__input-search::placeholder{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #ADB5BD;
      margin-left: -22px;

      background-image: url('../imgs/lupa.png');
      background-repeat: no-repeat;
      background-position: 35% center;
   }
   .home__container-buttons{
      display: flex;
      justify-content: space-between;
   }
   .button-option{
      height: 22px;
      border: none;
      color: #ADB5BD;
      background-color: transparent;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      padding: 0 0 15px;
   }
   .button-option:focus {
   border-bottom: 2px solid #FEB8C2;
   }
   .home-publications{
      margin: 33px 0 44px;
      display: grid;
      grid-template-columns: repeat(2, 145px);
      grid-row-gap: 44px;
      grid-column-gap: 64px;
   }
   footer{
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      background: #FCF6BD;
      bottom: 0;
   }
  .container__footer-info{
      display: flex;
      align-items: center;
      margin: 16px 18px;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 0px;
   }
   .container__developers-info{
      display: flex;
      flex-direction: column;
   }
   .developers-info__title{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
   }
   .publication-card {
      display: flex;
      flex-direction: column-reverse;
   }
   .publication-card img {
      width: 144px;
      height: 220px;
      border-radius: 20px;
      position: relative;
   }
   .card-info {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 145px;
      height: 35px;
      background: #F5B2E8;
      opacity: 0.9;
      border-radius: 0px 0px 20px 20px;
      position: absolute;
   }
   .card-info p {
      font-family: 'CookieRun';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      color: #FFFFFF;
      -webkit-text-stroke: 1.5px #4F4A42;
   }
   .information-header {
      display: flex;
      justify-content: space-between;
      margin: 22px 0;
   }
   .information-header h1 {
      font-family: 'CookieRun';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
      color: #F5B2E8;
      margin-left: 30px;
      -webkit-text-stroke: 1.5px #4F4A42;
   }
   .buttons-group {
      display: flex;
      flex-direction: row;
      gap: 11px;
   }
   .button-edit, .button-trash {
      width: 33px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border:none;
      outline: none;
   }
   .publication-information img{
      width: 283px;
      height: 429px;
      border-radius: 40px;
      margin: 0 35px;
   }
   .information-content {
      width: 354px;
   }
   .information-content h1 {
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
   }
   .text-caracter-pet {
      display: flex;
      justify-content: space-between;
      
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      color: #6C757D;
   }
   .description {
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;

      color: #6C6C6C;
   }
   .div-buttons {
      display: flex;
      justify-content: space-between;
      margin: 33px 0;
   }
   .button-love {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 55px;
      background: #F5B2E8;
      border-radius: 20px;
      border: none;
   }
   .button-adopt {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
      width: 281px;
      height: 55px;
      background: #C2F8CB;
      border-radius: 20px;
      border: none;
      text-align: center;
      color: #4F4A42;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
   }
   .new-publication {
      display: flex;
      flex-direction: column;
      margin: 0 18px;
      position: relative;
   }
   .new-publication-header {
      display: flex;
      align-items: center;
      width: 100%;
      height: 42px;
      gap: 50px;
      margin: 22px 0 33px;
   }
   .new-publication-header h1 {
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 31px;
      padding: 11px 0 0;
   }
   .form__new-publication, .form__edit-publication {
      display: flex;
      flex-direction: column;
      gap: 11px;
   }
   .form__new-publication, .form__edit-publication p {
      text-align: left;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
   }
   .question__options-group {
      display: flex;
      flex-direction: column;
   }
   .question__upload-group{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .options-group {
      display: flex;
      gap: 18px;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #6C757D;
   }
   .option__upload-file {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 119px;
      height: 33px;
      background: #C2F8CB;
      border-radius: 20px;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      color: #4F4A42;
   }
   .option__upload-file input{
      display: none;
   }
   .question4__petname, .question5__petAge{
      width: 281px;
      height: 33px;
      background: #F7F7F8;
      border-radius: 12px;
      border:none;
      padding: 6px 0 6px 12px;
      outline: none;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #6C757D;
   }
   .question4__petname::placeholder, .question5__petAge::placeholder, .question6__description::placeholder{
      color: #ADB5BD;
   }
   .question6__description{
      width: 339px;
      height: 114px;
      background: #F7F7F8;
      border-radius: 12px;
      border:none;
      outline: none;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #6C757D;
      padding:15px 0 0 15px;
   }
   .create-publication, .edit-publication{
      width: 354px;
      height: 55px;   
      background: #C2F8CB;
      border-radius: 20px;
      border: none;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      margin: 22px 0 44px;
      color: #4F4A42;
   }
   
}
 */
/*Estilos para tablet*/
/* @media (min-device-width:391px)
and (max-device-width: 834px){

   body{
      background-image: url('../imgs/tablet-login.png');
   }
   .background {
      display: none;
   }
   .backgroundTablet{
      top: 0;
      position: absolute;
      display: block;
   }
   .background-desktop{
      display: none;
   }
   .main-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 122px 54px ;
      position: absolute;   
   }
   .main-form h1{
      width: 726px;
      margin: 0;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 44px;
      line-height: 53px;
      color: #343A40;
   }
   .main-form p{
      width: 726px;
      margin: 22px 0px;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #343A40;
   }
   .form{
      margin: 43px 0 200px;
      display: flex;
      flex-direction: column;
      gap: 70px;
   }
   .form-input{
      display: flex;
      width: 726px;
      height: 44px;
      align-items: center;
      gap:22px;
      border-bottom: 1px solid #ADB5BD;
   }
   .icon{
      width: 33px;
      height: 33px;
   }
   .form-input input{
      border: none;
      background:transparent;
      outline: none;
      height: 29px;
      font-size: 24px;
   }
   .form-input input::placeholder{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #ADB5BD;
   }
   .form-alert{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
   }
   .incorrect-username, .incorrect-mail, .incorrect-password {
      display: none;
      color: #FF7581;
      margin: -50px 0 -50px 0;
   }
   .correct-username, .correct-mail, .correct-password {
      display: none;
      color: #0ead69;
      margin: -50px 0 -50px 0;
   }
   .form-button{
      margin: 84px 0 0 0;
      width: 726px;
      height: 77px;
      background: #F5B2E8;
      cursor: pointer;
      outline: none;
      border: none;
      backdrop-filter: blur(91.7484px);
      border-radius: 25px;
      text-align: center;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.641244px;
      color: #FFFFFF;
   }
   .create-account{
      margin: 0;
   }
   .form-link{
      margin-top: -37px;
      text-align: end;
      text-decoration: none;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #343A40;
   }

 .container-authentication{
      display: flex;
      flex-direction: column;

      justify-content: center;     
      align-items: center;
      font-family: 'SF Pro Rounded';
      color: #343A40;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
   }
   .container-authentication p{
      margin-top: 0;
      text-align: center;
   }
   .button-authentication{
      background-color: white;
      width: 44px;
      height: 44px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .button-authentication img{
      width: 44px;
      height: 44px;
   };

   css crear home
   .section{
      margin: 0 54px;
   }

   .home, .infornation-view {
      margin: 0 54px;
   }
   .logo-desktop{
      display: none;
   }
   
   .home-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 33px 0 41px;
   }
   .imageLogo{
    display: none;
   }
   .header__username{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #000000;
   }
   .header__add-button, .button-back{
      width: 50px;
      height: 50px;
      background: #FFFFFF;
      box-shadow: 5.45455px 0px 20.4545px rgba(0, 0, 0, 0.1);
      border-radius: 13.6364px;
      border: none;
   }
   .header__add-button p{
      display: none;
   }
   .imageBackButton{
      display:none;
   }
   .imageAddButton{
     display: none;
   }
   .home__subtitle{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      color: #000000;
   }
   .home__input-search{
      margin: 44px 0;
      width: 726px;
      height: 55px;
      background: #F7F7F8;
      border-radius: 12px;
      border: none;
      text-align: center;
      outline: none;
   }
   .home__input-search::placeholder{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #ADB5BD;
      margin-left: -18px;

      background-image: url('../imgs/lupa.png');
      background-repeat: no-repeat;
      background-position: 40% center;
   }
   .home__container-buttons{
      display: flex;
      justify-content: space-between;
   }
   .button-option{
      height: 29px;
      border: none;
      background-color: transparent;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #6C757D;
   }
   .button-option:focus {
      border-bottom: 2px solid #FEB8C2;
   }
   .home-publications{
      margin: 55px 0 44px;
      display: grid;
      grid-template-columns: repeat(3, 220px);
      grid-row-gap: 44px;
      grid-column-gap: 33px;
   }
   .publication-card {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
   }
   .publication-card img {
      width: 220px;
      height: 333px;
      border-radius: 30px;
      position: relative;
   }
   .card-info{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 60px;
      background: #F5B2E8;
      opacity: 0.9;
      border-radius: 0px 0px 30px 30px;
      position: absolute;
   }
   .card-info p{
      font-family: 'CookieRun';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      color: #FFFFFF;
      -webkit-text-stroke: 2px #4F4A42;
   }
   footer{
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FCF6BD;
      bottom: 0;
      border-color: yellow;
   }
   .container__footer-info{
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;  
   }
   .container__developers-info{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
   }
   
   .developers-info__title{
      margin: 0;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;

      grid-column: 1 / span 2;
   }

   
   .information-header {
      display: flex;
      justify-content: space-between;
      margin: 44px 0;
   }
   .information-header img{
      width:23px;
      height:23px;

   }
   .information-header h1{
      margin-left: 50px;
      font-family: 'CookieRun';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      text-align: center;
      color: #F5B2E8;
      -webkit-text-stroke: 1.5px #4F4A42;

   }
   .buttons-group {
      display: flex;
      flex-direction: row;
      gap: 22px;
   }
   .button-edit, .button-trash {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border:none;
      outline: none;
   }
   .imageTrashButton{
      display: none;
   }
   .imageEditButton{
      display: none;
   }
   .container__modal-delete{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(20px);
      position: fixed;
     pointer-events:none;*
      top:0;
      height: 100vh;
      width: 100vw;
   }
   .content__modal-delete{
      width: 420px;
      height: 79px;
      background: rgba(30, 30, 30, 0.75);
      border-radius: 15px 15px 0px 0px;
      pointer-events:auto;
   }
   .title_modal-delete{
      margin: 12px 0 11px;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      color: #FFFFFF;
   }
   .subtitle_modal-delete{
      margin: 0;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      color: #FFFFFF;
   }
   .button-delete{
      width: 420px;
      height: 75px;
      border:none;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      align-items: center;
      text-align: center;
      letter-spacing: -0.408px;      
      color: #0A84FF;
      background: rgba(30, 30, 30, 0.75);
      
   }
   .cancel{
      border-radius: 0px 0px 15px 15px;
      pointer-events:auto;
   }
   .publication-information img{
      width: 428px;
      height: 649px;
      border-radius: 56.7138px;
      margin: 0 149px;
   }
   .information-content {
      width: 726px;
   }
   .information-content h1 {
      margin: 44px 0;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;
   }
   .text-caracter-pet {
      display: flex;
      justify-content: space-between;
      
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      color: #6C757D;
   }
   .description {
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;

      color: #6C6C6C;
   }
   .div-buttons {
      display: flex;
      justify-content: space-between;
      margin: 66px 0;
   }
   .button-love {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 130px;
      height: 77px;
      background: #F5B2E8;
      border-radius: 20px;
      border: none;
   }
   .button-adopt {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
      width: 577px;
      height: 77px;
      background: #C2F8CB;
      border-radius: 20px;
      border: none;
      text-align: center;
      color: #4F4A42;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 41px;
   }
  
   .new-publication {
      display: flex;
      flex-direction: column;
      margin: 0 54px;
     position: relative;
   }
   .new-publication-header {
      display: flex;
      align-items: center;
      width: 100%;
      height: 60px;
      gap: 150px;
      margin: 44px 0 50px;
   }
   .new-publication-header h1 {
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      padding: 11px 0 0;
   }
   .form__new-publication, .form__edit-publication {
      display: flex;
      flex-direction: column;
      gap: 17px;
   }
   .form__new-publication, .form__edit-publication p{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 33px;
   }
   .question__options-group {
      display: flex;
      flex-direction: column;
   }
   .question__upload-group{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .options-group {
      display: flex;
      gap: 54px;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #6C757D;
   }
   .options{
      display: flex;
      align-items: center;
      
   }
   .radioButton{
      width: 22px;
      height: 22px;
   }
   .option__upload-file {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 55px;
      background: #C2F8CB;
      border-radius: 20px;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      text-align: center;
      color: #4F4A42;
   }
   .option__upload-file input{
      display: none;
   }
   .question4__petname, .question5__petAge{
      width: 710px;
      height: 55px;
      background: #F7F7F8;
      border-radius: 12px;
      border:none;
      padding: 0 0 0 16px;
      outline: none;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #6C757D;
   }
   .question4__petname::placeholder, .question5__petAge::placeholder, .question6__description::placeholder{
      color: #ADB5BD;
   }
   .question6__description{
      width: 710px;
      height: 146px;
      background: #F7F7F8;
      border-radius: 12px;
      border:none;
      outline: none;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #6C757D;
      padding:16px 0 0 16px;
   }
   .create-publication, .edit-publication{
      Width: 726px;
      Height: 77px;
      background: #C2F8CB;
      border-radius: 20px;
      border: none;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 25px;
      margin: 71px 0 44px;
      color: #4F4A42;

   }
} */