@import url(./fonts.css);

@media (max-width: 390px) {
   .home {
      margin: 0 18px;
   }
   .home-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 22px 0 33px;
   }
   .header__username{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
   }
   .header__add-button, .button-back{
      display: flex;
      width: 33px;
      height: 33px;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border:none;
   }
   .home__subtitle{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
   }
   .home__input-search{
      margin: 33px 0;
      width: 354px;
      height: 44px;
      background: #F7F7F8;
      border-radius: 12px;
      border:none;
      text-align: center;
      outline: none;
   }
   .home__input-search::placeholder{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #ADB5BD;
      margin-left: -22px;

      background-image: url('../icons/lupa.png');
      background-repeat: no-repeat;
      background-position: 35% center;
   }
   .home__container-buttons{
      display: flex;
      justify-content: space-between;
   }
   .button-option{
      height: 22px;
      border: none;
      color: #ADB5BD;
      background-color: transparent;

      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      padding: 0 0 15px;
   }
   .button-option:focus {
     border-bottom: 2px solid #FEB8C2;
   }
   .home-publications{
      margin: 33px 0 44px;
      display: grid;
      grid-template-columns: repeat(2, 145px);
      grid-row-gap: 44px;
      grid-column-gap: 64px;
   }
   footer{
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      background: #FCF6BD;
      bottom: 0;
      /* position: absolute; */
   }
   .container__footer-info{
      display: flex;
      align-items: center;
      margin: 16px 18px;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 0px;
   }
   .container__developers-info{
      display: flex;
      flex-direction: column;
   }
   .developers-info__title{
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
   }
   .publication-card {
      display: flex;
      flex-direction: column-reverse;
   }
   .publication-card img {
      width: 144px;
      height: 220px;
      border-radius: 20px;
      position: relative;
   }
   .card-info {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 145px;
      height: 35px;
      background: #F5B2E8;
      opacity: 0.9;
      border-radius: 0px 0px 20px 20px;
      position: absolute;
   }
   .card-info p {
      font-family: 'CookieRun';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      color: #FFFFFF;
      -webkit-text-stroke: 1.5px #4F4A42;
   }
}