@import url(./fonts.css);

@media (max-width: 390px) {
   .information-header {
      display: flex;
      justify-content: space-between;
      margin: 22px 0;
   }
   .information-header h1 {
      font-family: 'CookieRun';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
      color: #F5B2E8;
      margin-left: 30px;
      -webkit-text-stroke: 1.5px #4F4A42;
   }
   .buttons-group {
      display: flex;
      flex-direction: row;
      gap: 11px;
   }
   .button-edit, .button-trash {
      width: 33px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border:none;
      outline: none;
   }
   .publication-information img{
      width: 283px;
      height: 429px;
      border-radius: 40px;
      margin: 0 35px;
   }
   .information-content {
      width: 354px;
   }
   .information-content h1 {
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
   }
   .text-caracter-pet {
      display: flex;
      justify-content: space-between;
      
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      color: #6C757D;
   }
   .description {
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;

      color: #6C6C6C;
   }
   .div-buttons {
      display: flex;
      justify-content: space-between;
      margin: 33px 0;
   }
   .button-love {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 55px;
      background: #F5B2E8;
      border-radius: 20px;
      border: none;
   }
   .button-adopt {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
      width: 281px;
      height: 55px;
      background: #C2F8CB;
      border-radius: 20px;
      border: none;
      text-align: center;
      color: #4F4A42;
      font-family: 'SF Pro Rounded';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
   }
}