body{
    background-color:#FFFFFF;
    padding: 0;
    margin: 0;

}
/*estilos para la primera vista - iniciar sesión*/


/*estilos para movil*/
@media (max-width: 390px){
    #viewShowStart{
        
        display: flex;
        height:844px;
        text-align: center;
        align-items: center;
       /* background-color:aquamarine;*/
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
      }
      
    #logoImagen{
        width:270px ;
        height: 174.58px;
        /*background-color: #F5B2E8;*/
      
    }
    #title{
        color: #343A40;
        font-family:  SF Pro Rounded;
        font-size: 25px;
        margin-right: 210px;
        margin-top: 0;
        margin-bottom: 0;

    }
    #subtitle{
        color: #343A40;
        font-family:  SF Pro Rounded;
        font-size: 15px;
        margin: 0 60px 0 0;
    }
    .inputIcono1{
    background-image: url('user.png');
    background-repeat: no-repeat;
    background-position: 14px center;
    background-size: 25px;
    display: flex;
    align-items: center;
    width: 304px;
    padding-left: 50px;
    height: 33px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ADB5BD;
    }

    #userName{
     
     width: 354px;
     height: 32px;
     border-color: #ADB5BD;
     border: none;
    }
    #userName:focus{
        outline:none;
    }
    .inputIcono2{
        background-image: url('password.png');
        background-repeat: no-repeat;
        background-position: 14px center;
        background-size: 25px;
        display: flex;
        align-items: center;
        width: 304px;
        padding-left: 50px;
        height: 33px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #ADB5BD;

    }
       
    #password{
   
     width: 354px;
     height: 33px;
     padding: 0;
     border: none;
    }
    #password:focus{
        outline:none;  
    }


    #userName::placeholder{
        font-family: SF Pro Rounded;
        font-size: 15px;
        color:#ADB5BD;
        
    }
    #password::placeholder{
        font-family: SF Pro Rounded;
        font-size: 15px;
        color:#ADB5BD;
    }
    #btnCreateAccount{
        color: #FFFFFF;
        font-size:18px;
        font-family: SF Pro Rounded;
        background-color: #F5B2E8;
        border: none;
        width: 354px;
        height: 44px;
        border-radius: 13px;
       }
    #linkCreateAccount{
        font-family: SF Pro Rounded;
        font-size:14px;
        color: #343A40;
        margin-left: 250px;
    }

}

/*estilos para tablet*/
@media (max-width: 834px){

}